{#<div class="widget widget-tag-cloud">#}
<aside class="tagcloud">
    <h4 class="widget-title">标签云</h4>
    {% for tag in tag_list %}
        <a href="{% url 'article:tag' tag.pk %}" style="font-size: 15px; color: midnightblue">
            {{ tag }}
            <span class="post-count">
{#                        ({{ tag.num_posts }})#}
                    </span>
        </a>
    {% empty %}
        暂无标签！
    {% endfor %}
</aside>


{#<div class="text-center tagcloud">#}
{#    <a href="/tags/%E6%9D%82%E8%B0%88/" style="font-size: 15px; color: #bbe">-杂谈</a> <a href="/tags/C/"#}
{#                                                                                        style="font-size: 22.5px; color: #779bd3">C++</a>#}
{#    <a href="/tags/JavaScript/" style="font-size: 22.5px; color: #779bd3">JavaScript</a> <a href="/tags/leetcode/"#}
{#                                                                                            style="font-size: 26.25px; color: #558ac5">leetcode</a>#}
{#    <a href="/tags/nodejs/" style="font-size: 15px; color: #bbe">nodejs</a> <a href="/tags/python/"#}
{#                                                                               style="font-size: 15px; color: #bbe">python</a>#}
{#    <a href="/tags/vue/" style="font-size: 22.5px; color: #779bd3">vue</a> <a href="/tags/webpack/"#}
{#                                                                              style="font-size: 18.75px; color: #99abe0">webpack</a>#}
{#    <a href="/tags/%E5%AE%9E%E8%B7%B5%E5%B0%8F%E9%A1%B9%E7%9B%AE/" style="font-size: 15px; color: #bbe">实践小项目</a> <a#}
{#        href="/tags/%E6%8E%A5%E5%8F%A3%E4%BD%BF%E7%94%A8/" style="font-size: 22.5px; color: #779bd3">接口使用</a> <a#}
{#        href="/tags/%E7%AE%97%E6%B3%95/" style="font-size: 30px; color: #337ab7">算法</a> <a#}
{#        href="/tags/%E9%97%B2%E8%B0%88/" style="font-size: 18.75px; color: #99abe0">闲谈</a>#}
{#</div>#}