<div class="features-block style-one">
    <div class="container">
        <div class="row feature-list gutters-50">
            <!--~~~~~ Start Feature Item ~~~~~-->
            <div class="col-lg-4 col-md-6">
                <div class="feature-item text-center style-one">
                    <div class="feature-thumb">
                        <img src="../../static/assets/images/feature/one/feature1-post1.jpg" alt="feature"/>
                    </div>
                    <!--./ feature-thumb -->
                    <div class="feature-info">
                        <h3 class="title">
                            <a href="#">Photo Stories</a>
                        </h3>
                        <!--./ title -->
                        <div class="feature-desc">
                            <p>When it comes to creating is a website for your business, an attractive design
                            </p>
                        </div>
                        <div class="read-more-wrap">
                            <a class="read-more-text" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!--./ read-more-wrap -->
                    </div>
                </div>
            </div>
            <!--~./ end feature item ~-->
            <!--~~~~~ Start Feature Item ~~~~~-->
            <div class="col-lg-4 col-md-6">
                <div class="feature-item text-center style-one">
                    <div class="feature-thumb">
                        <img src="../../static/assets/images/feature/one/feature1-post2.jpg" alt="feature"/>
                    </div>
                    <!--./ feature-thumb -->
                    <div class="feature-info">
                        <h3 class="title">
                            <a href="#">Follow @ Instagram</a>
                        </h3>
                        <!--./ title -->
                        <div class="feature-desc">
                            <p>When it comes to creating is a website for your business, an attractive design
                            </p>
                        </div>
                        <div class="read-more-wrap">
                            <a class="read-more-text" href="#">Follow Me <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!--./ read-more-wrap -->
                    </div>
                </div>
            </div>
            <!--~./ end feature item ~-->
            <!--~~~~~ Start Feature Item ~~~~~-->
            <div class="col-lg-4 col-md-6">
                <div class="feature-item text-center style-one">
                    <div class="feature-thumb">
                        <img src="../../static/assets/images/feature/one/feature1-post3.jpg" alt="feature"/>
                    </div>
                    <!--./ feature-thumb -->
                    <div class="feature-info">
                        <h3 class="title">
                            <a href="#">Browse Shop</a>
                        </h3>
                        <!--./ title -->
                        <div class="feature-desc">
                            <p>When it comes to creating is a website for your business, an attractive design
                            </p>
                        </div>
                        <div class="read-more-wrap">
                            <a class="read-more-text" href="#">Browse <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!--./ read-more-wrap -->
                    </div>
                </div>
            </div>
            <!--~./ end feature item ~-->
        </div>
    </div>
</div>