{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>首页</title>
{% endblock title %}

<!--插入轮播图-->
{% block slideshow %}
    {% include 'slideshow.html' %}
{% endblock %}

<!--左主体部分-->
{% block content %}
    <!--占位-->
    {% include 'blank.html' %}
    <div class="main-wrapper pd-b-120">
        <div class="container">
            <div class="row justify-content-between gutters-50">
                <div class="col-lg-9 main-wrapper-content">
                    <main class="site-main style-one">
                        <div class="row gutters-50">
                            <!--文章列表-->
                            {% for article in articles %}
                                <div class="col-lg-6 col-md-6">
                                    <article class="post hentry post-grid text-center style-one">
                                        <div class="entry-thumb">
                                            <figure class="thumb-wrap">
                                                <a href="{% url 'article:article_detail' article.id %}">
                                                    {% if article.introduce %}
                                                        <img src="{{ article.introduce.url }}" alt="post"/>
                                                    {% else %}
                                                        <img src="/media/introduce/django.jpg" alt="post"/>
                                                    {% endif %}
                                                </a>
                                            </figure>
                                            <!--./ thumb-wrap -->
                                        </div>
                                        <!--./ entry-thumb -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="{% url 'article:article_detail' article.id %}">
                                                    {{ article.title }}</a>
                                            </h3>
                                            <!--./ entry-title -->
                                            <div class="entry-content">
                                                <p style="color: grey">{{ article.body|slice:'100' }}...</p>
                                            </div>
                                            <p></p>
                                            <div class="entry-meta-content">
                                                <div class="entry-views">
                                                    <i class="far fa-eye" aria-hidden="true">
                                                        浏览量 {{ article.total_views }}</i>
                                                </div>
                                                <!--./ entry-date -->
                                                <div class="entry-date">
                                                    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                                    更新日期 {{ article.updated|date:'Y-m-d' }}
                                                </div>
                                                <!--./ entry-date -->
                                            </div>
                                            <!--./ entry-meta-content -->
                                            <div class="read-more-wrap">
                                                <a class="read-more"
                                                   href="{% url 'article:article_detail' article.id %}">点击获取详情</a>
                                            </div>
                                            <!--./ entry-content -->
                                        </div>
                                        <!--./ content-entry-wrap -->
                                    </article>
                                </div>
                            {% endfor %}
                            <!--~./ end post ~-->
                        </div>
                    </main>
                </div>
                <!--右侧边栏-->
                {% include 'right.html' %}
                <!--页码导航-->
                {% include 'page_navigation.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
