{% extends "base.html" %} {% load static %}
{% block title %} <title>注册</title> {% endblock title %}
{% block content %}
    <main>
        <div class="container nopadding-md">
            <div class="card col-12 col-md-6 m-auto">
                <div class="py-5 z-depth-3" id="board">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-10 m-auto">
                                <br>
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <!-- 账号 -->
                                    <div class="form-group">
                                        <label for="username">昵称</label>
                                        <input type="text" class="form-control" id="username" name="username" required>
                                    </div>
                                    <!-- 邮箱 -->
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email">
                                    </div>
                                    <!-- 密码 -->
                                    <div class="form-group">
                                        <label for="password">设置密码</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               required>
                                    </div>
                                    <!-- 确认密码 -->
                                    <div class="form-group">
                                        <label for="password2">确认密码</label>
                                        <input type="password" class="form-control" id="password2" name="password2"
                                               required>
                                    </div>
                                    <!-- 提交按钮 -->
                                    <div style="text-align:center;">
                                        <button type="submit" class="btn btn-dark">注册</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}