{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>文章详情</title>
{% endblock title %}

{% block content %}
    <div class="main-wrapper pd-b-100">
        <!-- Blog Items -->
        <div class="blog-single-page">
            <article class="post single-post single-post-one">
                <div class="container">
                    <div class="post-thumbnail-area">
                        <figure class="post-thumb">
                            {% if article.introduce %}
                                <img src="{{ article.introduce.url }}" alt="post"/>
                            {% else %}
                                <img src="/media/introduce/django.jpg" alt="post"/>
                            {% endif %}
                        </figure><!-- /.post-thumb -->
                        <div class="entry-header-outer">
                            <div class="entry-header">
                                <div class="entry-category">
                                    <a class="cat" href="#">{{ article.column }}</a>
                                </div>
                                <!--./ entry-category -->
                                <h3 class="entry-title">
                                    {{ article.title }}
                                </h3>
                                <!--./ entry-title -->
                                {#                                <div class="entry-meta-content">#}
                                <div class="container" style="color: white">
                                    {#                                <div class="container text-center white-text fadeInUp">#}
                                    <p class="mt-3 post-meta">
                                        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                        更新日期 {{ article.updated|date:'Y-m-d' }}
                                    </p>
                                    <p class="mt-1 post-meta" style="text-indent:1em">
                                        <span class="post-meta">
                                            <i class="far fa-eye" aria-hidden="true"></i>
                                            <span id="busuanzi_value_page_pv">{{ article.total_views }}</span> 次
                                        </span>
                                        <span class="post-meta">
                                            <i class="far fa-chart-bar"></i>1.7k 字
                                        </span>
                                        <span class="post-meta">
                                            <i class="far fa-clock"></i>7 分钟
                                        </span>
                                    </p>
                                </div>
                                <!--./ entry-meta-content -->
                            </div><!-- /.entry-header-outer -->
                        </div>
                    </div>

                    <!--文章主体-->
                    <main>
                        <div class="container-fluid">
                            <div class="row">
                                <!--正文-->
                                <div class="col-lg-9 nopadding-md">
                                    <div class="container nopadding-md" id="board-ctn">
                                        <div class="py-5 z-depth-3" id="board">
                                            <div class="post-content mx-auto" id="post">
                                                <div class="markdown-body col-lg-8">
                                                    {{ article.body|safe }}
                                                </div>
                                                <hr>
                                                <div class="col-lg-8">
                                                    <p>
                                                        <!--栏目-->
                                                        <span>
                                                            <i class="iconfont icon-inbox"></i>
                                                            <a class="hover-with-bg"
                                                               href="#">{{ article.column }}</a>&nbsp;
                                                        </span>&nbsp;&nbsp;
                                                        <span>
                                                            <i class="iconfont icon-tag"></i>
                                                            {% for tag in article.tags.all %}
                                                                <a class="hover-with-bg"
                                                                   href="{% url 'article:tag' tag.pk %}">
                                                                    {{ tag }}  </a>
                                                            {% empty %}
                                                                暂无标签！
                                                            {% endfor %}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--正文结束-->

                                <!--目录-->
                                <div class="d-none d-lg-block col-lg-3 toc-container" id="toc-ctn"
                                     style="padding-top: 9.2px; right: 0px;">
                                    <div id="toc-start"></div>
                                    <div id="toc" style="display: block;">
                                        <p class="h5" style="visibility: visible;">
                                            <i class="far fa-list-alt"></i>&nbsp;目录
                                        </p>
                                        <div id="tocbot">
                                            {{ toc|safe }}
                                        </div>
                                    </div>
                                </div>
                                <!--目录结束-->
                            </div>
                        </div>
                        <!-- Custom -->
                    </main>

                    {#                    <!--TODO:引入栏目和标题-->#}
                    {#                    <!--栏目＆标签-->#}
                    {#                    <div class="entry-footer">#}
                    {#                        <div class="entry-tag">#}
                    {#                            <strong>标签: </strong>#}
                    {#                            <a href="#" rel="tag">fashion</a>#}
                    {#                            <a href="#" rel="tag">world</a>#}
                    {#                            <a href="#" rel="tag">technology</a>#}
                    {#                            <a href="#" rel="tag">fun</a>#}
                    {#                            <a href="#" rel="tag">lifestyle</a>#}
                    {#                        </div>#}
                    {#                        <!--/.entry-tag-->#}
                    {#                    </div>#}
                </div>
            </article><!-- /.post -->

            <!--作者信息-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <!--~~~~~ Start Author Info ~~~~~-->
                        <div class="author-info">
                            <div id="author-img">
                                <figure class="at-img">
                                    <img src="{{ profile.avatar.url }}" alt="img">
                                </figure>
                            </div><!-- / author-img -->

                            <div id="author-details">
                                <h3 class="author-name">{{ user.username }}</h3>
                                <div class="authors-bio">
                                    <p>
                                        {{ profile.bio }}
                                    </p>
                                </div>
                            </div><!-- /author-details -->
                        </div>
                        <!--~./ end author info ~-->
                    </div>
                </div>

                <!--相关文章-->
                <div class="related-posts-block">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="related-title">相关文章</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% for arti in articles %}
                            {% if arti.column == article %}
                            <div class="col-lg-4 col-md-6">
                                <article class="post post-grid-style post-grid-style-two">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="{% url 'article:article_detail' article.id %}">
                                                {% if article.introduce %}
                                                    <img src="{{ article.introduce.url }}" alt="post"/>
                                                {% else %}
                                                    <img src="/media/introduce/django.jpg" alt="post"/>
                                                {% endif %}
                                            </a>
                                        </figure>
                                        <!--./ thumb-wrap -->
                                    </div>
                                    <!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-category">
                                            <a class="cat" href="#">Design</a>
                                            <a class="cat" href="#">Travel</a>
                                            <a class="cat" href="#">Photography</a>
                                        </div>
                                        <!--./ entry-category -->
                                        <h3 class="entry-title">
                                            <a href="single-post.html">
                                                How To Use Checklists To Improve Your UX
                                            </a>
                                        </h3>
                                        <!--./ entry-title -->
                                    </div>
                                    <!--./ content-entry-wrap -->
                                    <div class="entry-user">
                                        <div class="thumb">
                                            <img src="../static/assets/images/author/author1.png" alt="Thumb"/>
                                        </div>
                                        <div class="info">
                                            <div class="author-name">
                                                <a href="#">Karri Saarinen</a>
                                            </div>
                                            <div class="entry-date">Dec 5, 2019</div>
                                            <!--./ entry-time -->
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!--发表文章评论-->
                <div class="comment-respond">
                    <form action="#" class="comment-form">
                        <h3 class="comment-reply-title">
                            <i class="fas fa-comments fa-fw"></i>评论
                        </h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6 col-md-6">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div><!-- /.col-lg-6 -->
                            <div class="col-12">
                                <textarea class="form-control" rows="4" cols="50"
                                          placeholder="Your message here"></textarea>
                            </div><!-- /.col-12 -->
                            <div class="form-submit clearfix">
                                <button class="btn btn-default">Post <i class="fas fa-arrow-right"></i></button>
                            </div><!-- /.subimt -->
                        </div><!-- /.row -->
                    </form>
                </div>

                <!--评论区-->
                <div id="comments" class="comments-area">
                    <div class="comments-main-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="comments-title">04 Comments</h3>
                                <!--/.comments-title-->
                            </div>
                            <!--/.col-md-12-->
                        </div>
                        <!--/.row-->

                        <div class="row">
                            <div class="col-md-12">
                                <ol class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <div class="author-img">
                                                        <img alt="Maria" src="../../static/assets/images/comments/1.png"
                                                             class="avatar photo">
                                                    </div>
                                                </div>
                                                <!--/.comment-author-->
                                                <div class="comment-metadata"><b class="author">Zhon Andarson</b>
                                                </div>
                                                <!--/.comment-metadata-->
                                            </div>
                                            <!--/.comment-meta-->
                                            <div class="comment-details">
                                                <div class="comment-content">
                                                    <p>Coding is used in almost all aspects of life and work now, be it
                                                        directly or indirectly.
                                                        It’s not just for companies in the tech sector. “An increasing
                                                        number of businesses rely
                                                        on computer code,</p>
                                                </div>
                                                <!--/.comment-content-->
                                                <div class="comment-footer">
                                                    <span class="date">10:35pm, 27 jan 2015.</span>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div><!-- /.comment-details-->
                                        </div>
                                        <!--/.comment-body-->
                                        <ol class="children">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <div class="author-img">
                                                                <img alt="avatar"
                                                                     src="../../static/assets/images/comments/2.png"
                                                                     class="avatar photo">
                                                            </div>
                                                        </div>
                                                        <!--/.comment-author-->
                                                        <div class="comment-metadata"><b class="author">Andro Smith
                                                            Doe</b>
                                                        </div>
                                                        <!--/.comment-metadata-->
                                                    </div>
                                                    <!--/.comment-meta-->
                                                    <div class="comment-details">
                                                        <div class="comment-content">
                                                            <p>Coding is used in almost all aspects of life and work
                                                                now, be it directly or
                                                                indirectly. It’s not just for companies in the tech
                                                                sector. “An increasing number of
                                                                businesses rely on computer code,</p>
                                                        </div>
                                                        <!--/.comment-content-->
                                                        <div class="comment-footer">
                                                            <span class="date">10:35pm, 27 jan 2015.</span>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </div><!-- /.comment-details-->
                                                </div>
                                                <!--/.comment-body-->
                                            </li>
                                            <!--/.comment-->
                                        </ol>
                                        <!--/.children-->
                                    </li>
                                    <!--/.comment-body-->
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <div class="author-img">
                                                        <img alt="" src="../../static/assets/images/comments/2.png"
                                                             class="avatar photo">
                                                    </div>
                                                </div>
                                                <!--/.comment-author-->
                                                <div class="comment-metadata"><b class="author">Heas lins</b>
                                                </div>
                                                <!--/.comment-metadata-->
                                            </div>
                                            <!--/.comment-meta-->
                                            <div class="comment-details">
                                                <div class="comment-content">
                                                    <p>Coding is used in almost all aspects of life and work now, be it
                                                        directly or indirectly.
                                                        It’s not just for companies in the tech sector. “An increasing
                                                        number of businesses rely
                                                        on computer code, </p>
                                                </div>
                                                <!--/.comment-content-->
                                                <div class="comment-footer">
                                                    <span class="date">10:35pm, 27 jan 2015.</span>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div><!-- /.comment-details-->
                                        </div>
                                        <!--/.comment-body-->
                                    </li>
                                    <!--/.comment-body-->
                                </ol>
                                <!--/.comment-list-->
                            </div>
                            <!--/.col-md-12-->
                        </div>
                        <!--/.row-->
                    </div><!-- /.comments-main-content -->
                </div><!-- /.comments-area -->

            </div>
        </div><!--  /.blog-latest-items -->
    </div>
{% endblock %}
