<div class="frontpage-slider-posts">
    <div class="container-medium">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel frontpage-slider-one style-one carousel-rectangle carousel-nav-center">
                    <!--~~~~~ Start Post ~~~~~-->
                    <article class="post hentry post-slider-one text-center">
                        <div class="entry-thumb">
                            <figure class="thumb-wrap">
                                <a href="single-post.html">
                                    <img src="../static/assets/images/post/slider/one/post1.jpg" alt="post"/>
                                </a>
                            </figure>
                            <!--./ thumb-wrap -->
                        </div>
                        <!--./ entry-thumb -->
                        <div class="content-entry-wrap">
                            <div class="entry-category">
                                <a class="cat" href="#">Design</a>
                                <a class="cat" href="#">Travel</a>
                                <a class="cat" href="#">Photography</a>
                                <a class="cat" href="#">Nature</a>
                            </div>
                            <!--./ entry-category -->
                            <h3 class="entry-title">
                                <a href="single-post.html">The Olivier da Costa restaurant
                                    experience in Lisbon</a>
                            </h3>
                            <!--./ entry-title -->
                            <div class="entry-content">
                                <div class="read-more-wrap">
                                    <a class="read-more" href="single-post.html">Read Details</a>
                                </div>
                            </div>
                            <!--./ entry-content -->
                        </div>
                        <!--./ content-entry-wrap -->
                    </article>
                    <!--~./ end post ~-->
                    <!--~~~~~ Start Post ~~~~~-->
                    <article class="post hentry post-slider-one text-center">
                        <div class="entry-thumb">
                            <figure class="thumb-wrap">
                                <a href="single-post.html">
                                    <img src="../static/assets/images/post/slider/one/post1.jpg" alt="post"/>
                                </a>
                            </figure>
                            <!--./ thumb-wrap -->
                        </div>
                        <!--./ entry-thumb -->
                        <div class="content-entry-wrap">
                            <div class="entry-category">
                                <a class="cat" href="#">Design</a>
                                <a class="cat" href="#">Travel</a>
                                <a class="cat" href="#">Photography</a>
                                <a class="cat" href="#">Nature</a>
                            </div>
                            <!--./ entry-category -->
                            <h3 class="entry-title">
                                <a href="single-post.html">The Olivier da Costa restaurant
                                    experience in Lisbon</a>
                            </h3>
                            <!--./ entry-title -->
                            <div class="entry-content">
                                <div class="read-more-wrap">
                                    <a class="read-more" href="single-post.html">Read Details</a>
                                </div>
                            </div>
                            <!--./ entry-content -->
                        </div>
                        <!--./ content-entry-wrap -->
                    </article>
                    <!--~./ end post ~-->
                </div>
                <!--/#frontpage-slide -->
            </div>
        </div>
    </div>
</div>